<!doctype html>
<html lang="en" class="fuelux">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css" />
	<!--script data-main="{{ ui.staticBase }}js/main.js" src="{{ ui.staticBase }}vendor/require.js"></script-->

</head>
<body>
	<!--[if lt IE 7]>
		<p style="margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0;">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div class="container" data-ng-app="fuelBuilder">
		{{{ body }}}
	</div>
	<script>
		window.app = {};
		window.app.csrfToken = '{{ csrfToken }}';
		window.app.serverUIConfig = {{{ ui }}};
		//define( 'csrf-token', '{{ csrfToken }}' );
		//define( 'server-ui-config', {{{ ui }}} );
	</script>
	<script type="text/javascript" src="/vendor/angular.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>